<div id="bound-one" class="scroll-bound">
    <div class="content-video">
        <div class="cd-show">
            <div class="cd-wrapper">
                <img class="cd cd-1 opacity-0 shadow-lg" src="{{ (resources.Get "images/plg.jpg").RelPermalink }}"/>
                <img class="cd cd-2 opacity-0 shadow-lg" src="{{ (resources.Get "images/dny.jpg").RelPermalink }}"/>
                <img class="cd cd-3 opacity-0 shadow-lg" src="{{ (resources.Get "images/pa.jpg").RelPermalink }}"/>
            </div>
            <div class="cd-wrapper">
                <img class="cd cd-4 opacity-0 shadow-lg" src="{{ (resources.Get "images/rrm1.jpg").RelPermalink }}"/>
                <img class="cd cd-5 opacity-0 shadow-lg" src="{{ (resources.Get "images/rrm2.jpg").RelPermalink }}"/>
                <img class="cd cd-6 opacity-0 shadow-lg" src="{{ (resources.Get "images/rrm3.jpg").RelPermalink }}"/>
            </div>
        </div>
        <img class="absolute ben-profile w-auto" src="{{ (resources.Get "images/ben.png").RelPermalink }}"/>
        <video id="animated-bg-video" muted autoPlay playsinline preload="auto">
            <source src="{{ (resources.Get "videos/explosion2.mp4").RelPermalink }}" type="video/mp4">
            <p>Your user agent does not support the HTML5 Video element.</p>
        </video>
    </div>
</div>