<section id="streaming" class="py-8 bg-primary container m-auto">
    <h2 class="text-center">Écouter BEN PLG</h2>
    <div class="mt-4 grid gap-8 grid-cols-4 mx-4">
        <a target="_blank" rel="noopener noreferer" href="https://music.apple.com/us/artist/ben-plg/1468693966" class="w-full">
            <img src="{{ (resources.Get "logos/apple_music.png").RelPermalink }}" loading="lazy">
        </a>
        <a target="_blank" rel="noopener noreferer" href="https://music.amazon.fr/artists/B07SSMLFGZ/ben-plg" class="w-full">
            <img src="{{ (resources.Get "logos/amazon_music.png").RelPermalink }}" class="rounded-lg" loading="lazy">
        </a>
        <a target="_blank" rel="noopener noreferer" href="https://open.spotify.com/artist/4Q4yUu2v7zN40G0LtsnY98" class="w-full">
            <img src="{{ (resources.Get "logos/spotify.png").RelPermalink }}" loading="lazy">
        </a>
        <a target="_blank" rel="noopener noreferer" href="https://www.youtube.com/channel/UCZD0k5ovZjgVjfFoyg23tAQ" class="w-full my-auto">
            <img src="{{ (resources.Get "logos/youtube.png").RelPermalink }}" loading="lazy">
        </a>
    </div>
</section>